
#jumb{
    padding: 0px 30px;
    margin-bottom: 70px;
    margin-block-start: 450px;
    margin-right: 100px;
    min-width: 60%;
    min-height: 20%;
    background: none;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    border: none;
   
}

.p1{

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    font-size:20px;
    
}

#p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

#back_b{
    font-family: 'Courier New', Courier, monospace;
}

#end{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

.containera{
    background-image: url('./images/main_back.jpg');
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    position: fixed
}