#app_name{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace
}

#link1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace
}

#link2{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace
}

#link3{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace
}