#nickname{
    min-width: 100%;
    padding: 12px 20px;
    margin: 30px 0;
    box-sizing: border-box;
    border-color:aquamarine ;
    border-radius: 25px;
    outline: none;
}

#juml{
    padding: 0px 30px;
    margin-bottom: 70px;
    margin-block-start: 250px;
    margin-right: 100px;
    min-width: 60%;
    min-height: 20%;
    background: none;
    text-align: center;
    font-weight: bold;
    border: none;
}

#h1{
    font-family: 'Courier New', Courier, monospace;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: rgb(25, 154, 158); }
    50% { color: black(0, 59%, 41%); }
    100% { color: rgb(25, 154, 158); }
}
@-moz-keyframes color-change {
    0% { color: rgb(25, 154, 158); }
    50% { color: black; }
    100% { color: rgb(25, 154, 158); }
}
@-ms-keyframes color-change {
    0% { color: rgb(25, 154, 158); }
    50% { color: black; }
    100% { color: rgb(25, 154, 158); }
}
@-o-keyframes color-change {
    0% { color: rgb(25, 154, 158); }
    50% { color: black; }
    100% { color: rgb(25, 154, 158); }
}
@keyframes color-change {
    0% { color: rgb(25, 154, 158); }
    50% { color: black; }
    100% { color: rgb(25, 154, 158); }
}

#add_b{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1px;

}

.errormsg{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    font-size: 3ex;
    font-weight: bold;
}

